.nested-fields
  .field
    = f.label :pledge_title
    %br
    = f.text_field :pledge_title
  .field
    = f.label :info
    %br
    = f.text_area :info
  .field
    = f.label :pledge
    %br
    = f.number_field :pledge
  = link_to_remove_association "remove breakpoint", f