


= form_for @project do |f|
  .field.row
  .large-9.columns
    = f.label :title
    %br
    = f.text_field :title
  .field.row
  .large-9.columns
    = f.label :description
    %br
    = f.text_area :description
  .field.row
  .large-9.columns
    = f.label :goal
    %br
    = f.number_field :goal
  .field.row
  .large-9.columns
    = f.label :category
    %br
    = f.select :category, ["Art", "Comics", "Design", "Film & Video", "Games", "Music", "Photography", "Technology"], :prompt => "Select One"
  .field.row
    .small-2.columns
      = f.label :start_date
      %br
      = f.datetime_select :start_date, {minute_step: 30}
  .field.row
    .small-2.columns
      = f.label :end_date
      %br
      = f.datetime_select :end_date, {minute_step: 30}
  %h3 Breakpoints
  #breakpoints
    = f.fields_for :breakpoints do |breakpoint|
      = render 'breakpoints_fields', :f => breakpoint
    .links
      = link_to_add_association 'add breakpoint', f, :breakpoints
    = f.submit

    
