<%= link_to project_path(project.id) do %>
    <h4>
      <%= link_to project.title, project %><br />
<%= project.description %> <br />
<%= project.goal %>
      
    </h4>
  <% end %>
  <p><%= truncate(project.description, length: 100) %></p>