<h1> Projects </h1>
<%= link_to "Post a new Project", new_project_path %>
</br>
</br>
<%= form_tag projects_path, method: :get, authentication: false, id: 'category-select' do %>
  <div class="small-3 columns left">
    <%= select_tag :search, options_for_select([["Art","Art"], ["Comics", "Comics"], ["Design", "Design"], ["Film & Video", "Film & Video"], ["Games", "Games"], ["Music", "Music"], ["Photography", "Photography"], ["Technology", "Technology"]], params[:search]) %>
  </div>
  <div class="action">
    <%= submit_tag "Search", class: "button tiny left" %>
  </div>
<% end %>
<div class="projects">
<% @projects.each do |project| %>
<p>
<%= link_to project.title, project %><br />
<%= project.description %> <br />
<%= project.goal %>
</p>

<% end %>
</div>