<h1> Projects </h1>
<%= link_to "Post a new Project", new_project_path %>

</br>
<%= form_tag projects_path, method: :get, authentication: false, id: 'category-select' do %>
  <%= select_tag :search, options_for_select([["Art","Art"], ["Comics", "Comics"], ["Design", "Design"], ["Film & Video", "Film & Video"], ["Games", "Games"], ["Music", "Music"], ["Photography", "Photography"], ["Technology", "Technology"]], params[:search]) %>
  <%= submit_tag "Search" %>
<% end %>
</br>
<% @projects.each do |project| %>
<p>
	<%= link_to project.title, project %><br />
	<%= project.description %> <br />
	<%= project.goal %>
</p>

<% end %>

<div id="projects">
  <%= render @projects %>
</div>

<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->
<%= paginate @projects %>