<%= link_to "Back to Projects", projects_url %><br/>
<%= Time.now %>

<div class="small-5 small-centered columns">
	<h1><%= @project.title %> </h1>
</div>
<div class = "row">
	<div class="large-9 columns">
		<h2> Description: <%= @project.description %> </h2> 
		<br />
		<h1><%= @project.goal %></h1>Goal <br />
		
		
		<h1>
		<div id="pledgeTotal">
			<%= @project.current_funding %>
		</div>
		</h1>
		
		<h3>Pledge status</h3>
		

<!-- if funded 100% show progress in green -->

		<% if @project.percent_funded == 100 %>
			<div class="progress success">
				<span class="meter" style="width:<%=@project.percent_funded%>%">Project Funded!</span>
			</div>
		<% else %>
			<div class="progress">
				<span class="meter" style="width:<%=@project.percent_funded%>%"></span>
			</div>
		<% end %>

		<!-- Update amount of pledges by ajax -->
		
		<h1>
			<div class="pledgesnumber">
				<%= @project.number_of_pledges %> 
			</div>
		</h1>

		Pledges
		<br/>


		<div id= "timeRemaining">
			<% time_left = (@project.end_date - @project.start_date)/(86400) %>
			<H1>
			 <%= time_left %>
			 </h1>
			 Days left
		</div>
	</div>

	<br />

	<div class ="small-3 columns">
		<% @project.breakpoints.each do |breakpoint| %>
		<div class = "pledge">
			<ul class="pricing-table">
				<li class="title"><%= breakpoint.pledge_title %></li>
				<li class="price"><%= breakpoint.pledge %></li>
				<li class="description"><%= breakpoint.info%></li>

				<%= form_for [@project, @pledge], :remote => true, :html => {:class => "pledgeSubmit"} do |f| %>
				<li class="cta-button"><%= f.submit "Pledge", class: "button tiny pledgeSubmit" %></li>
				<%= f.hidden_field :project_id, :value => @project.id %>
				<%= f.hidden_field :breakpoint_id,  :value => breakpoint.id %>
				<% end %>
			</div>
		</ul>
		<%end%>


	</div>
	<% if current_user %>

	<h3>Comments</h3>
	<div id="review-list">
		<%= render :partial => "comments" %>
	</div>

	<h4>New Comment</h4>

		<%= form_for [@project, @comment], :remote => true do |f| %>
			<div class="field">
				<%= f.label :comment_text %><br/>
				<%= f.text_area :comment_text %>
			</div>
			<div class= "action" id="b1s">
			<%= f.submit "Submit", class: "button" %>
			</div>
		<% end %>


	<% else %>
	<p>Please <%= link_to "log in", new_session_path %> to add a comment.</p>
	<% end %>
</div>


