<%= link_to "Back to Projects", projects_url %><br/>
<h1><%= @project.title %> </h1>
Description: <%= @project.description %> <br />
Goal number: <%= @project.goal %> <br />
Total pledged: <%= @project.pledge_total %>

<%= form_for [@project, @breakpoint] do |f| %>
	<div class= "field">
		<%= f.label :pledge_title%><br/>
		<%= f.text_field :pledge_title%>
	</div>
	<div class= "field">
		<%= f.label :info%><br/>
		<%= f.text_area :info%>
	</div>
	<div class= "field">
		<%= f.label :pledge%><br/>
		<%= f.number_field :pledge%>
	</div>
	<div class= "action">
		<%= f.submit :submit%>
	</div>
<% end %>

<% @project.breakpoints.each do |breakpoint| %>
  <div class= "pledge">
	  <h2><%= breakpoint.pledge_title %></h2>
	  <%= breakpoint.info %><br/>
	  <p id="amount"><%= breakpoint.pledge %></p><br/>
	</div>
<% end %>



